<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>905884017940-qoed69v2pd146o74lpegjup8lnd5mf07.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.905884017940-qoed69v2pd146o74lpegjup8lnd5mf07</string>
	<key>API_KEY</key>
	<string>AIzaSyB7ttyJl-GO8mSXJq0_O42UBqPGMp4ccrM</string>
	<key>GCM_SENDER_ID</key>
	<string>905884017940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meta.ios</string>
	<key>PROJECT_ID</key>
	<string>meta-235816</string>
	<key>STORAGE_BUCKET</key>
	<string>meta-235816.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905884017940:ios:2d0e26cecfa8ac93</string>
	<key>DATABASE_URL</key>
	<string>https://meta-235816.firebaseio.com</string>
</dict>
</plist>